<a href="https://colab.research.google.com/github/immidikalipradeep/wids/blob/main/Kaggle_wids.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install -q kaggle

In [3]:
from google.colab import files
files.upload()

{}

In [4]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [5]:
!kaggle competitions download -c widsdatathon2021

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
DataDictionaryWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
UnlabeledWiDS2021.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
SampleSubmissionWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
SolutionTemplateWiDS2021.csv: Skipping, found more recently modified local copy (use --force to force download)
TrainingWiDS2021.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
!unzip TrainingWiDS2021.csv.zip

Archive:  TrainingWiDS2021.csv.zip
replace TrainingWiDS2021.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [7]:
!unzip UnlabeledWiDS2021.csv.zip

Archive:  UnlabeledWiDS2021.csv.zip
replace UnlabeledWiDS2021.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [8]:
TARGET_COL = "diabetes_mellitus"
df = pd.read_csv("TrainingWiDS2021.csv")
print(df.shape)

(130157, 181)

In [9]:
pd.options.display.max_rows = 4000

In [10]:
(df.corrwith(df["diabetes_mellitus"])).sort_values(ascending=False)

diabetes_mellitus              1.000000
d1_glucose_max                 0.400742
glucose_apache                 0.354359
h1_glucose_max                 0.316847
h1_glucose_min                 0.304520
bmi                            0.169043
weight                         0.155517
d1_bun_max                     0.146990
bun_apache                     0.145241
d1_bun_min                     0.137304
d1_glucose_min                 0.135848
h1_bun_min                     0.135157
h1_bun_max                     0.134985
d1_creatinine_max              0.127929
d1_creatinine_min              0.125828
creatinine_apache              0.124891
h1_creatinine_min              0.110359
h1_creatinine_max              0.110022
arf_apache                     0.108469
d1_potassium_max               0.096745
h1_potassium_max               0.095310
h1_potassium_min               0.094480
age                            0.081019
d1_sysbp_noninvasive_max       0.072309
d1_sysbp_max                   0.072037
h1_calcium_min                 0.059982
d1_sysbp_invasive_max          0.057202
h1_calcium_max                 0.056036
h1_sysbp_noninvasive_max       0.046375
h1_sysbp_max                   0.046033
d1_calcium_max                 0.044614
d1_potassium_min               0.038055
h1_sysbp_invasive_max          0.030874
h1_platelets_min               0.029442
h1_platelets_max               0.028852
h1_sysbp_noninvasive_min       0.028604
h1_inr_min                     0.028445
d1_inr_min                     0.028445
d1_sysbp_noninvasive_min       0.027087
d1_sysbp_min                   0.027004
h1_sysbp_min                   0.026400
d1_platelets_min               0.024017
gcs_eyes_apache                0.023841
d1_calcium_min                 0.023618
gcs_motor_apache               0.023133
d1_platelets_max               0.022651
d1_inr_max                     0.022427
h1_inr_max                     0.022427
pre_icu_los_days               0.022141
gcs_verbal_apache              0.020166
d1_mbp_noninvasive_max         0.019706
d1_mbp_max                     0.018759
d1_heartrate_min               0.017990
h1_wbc_max                     0.015621
h1_wbc_min                     0.015329
cirrhosis                      0.015179
urineoutput_apache             0.014848
h1_spo2_max                    0.014841
d1_spo2_max                    0.014228
ventilated_apache              0.011903
d1_wbc_min                     0.011301
hepatic_failure                0.009535
d1_sysbp_invasive_min          0.008890
paco2_apache                   0.007982
paco2_for_ph_apache            0.007982
wbc_apache                     0.006774
d1_wbc_max                     0.006589
d1_resprate_max                0.006559
h1_resprate_max                0.003983
d1_arterial_pco2_min           0.003861
d1_spo2_min                    0.003860
apache_2_diagnosis             0.003797
leukemia                       0.003574
d1_arterial_pco2_max           0.002720
map_apache                     0.002367
h1_heartrate_min               0.002278
hospital_id                    0.001937
d1_mbp_invasive_max            0.001672
h1_lactate_max                 0.001297
h1_lactate_min                 0.001152
h1_spo2_min                    0.001041
lymphoma                      -0.000253
intubated_apache              -0.000318
h1_arterial_pco2_max          -0.001164
encounter_id                  -0.002007
immunosuppression             -0.003022
h1_sysbp_invasive_min         -0.003023
d1_lactate_min                -0.003085
h1_mbp_noninvasive_max        -0.003718
height                        -0.004302
h1_resprate_min               -0.004558
elective_surgery              -0.004910
d1_lactate_max                -0.005099
h1_arterial_pco2_min          -0.005266
h1_mbp_max                    -0.005506
d1_temp_min                   -0.006114
temp_apache                   -0.006149
h1_temp_max                   -0.006211
resprate_apache               -0.006736
h1_temp_min                   -0.007665
d1_hco3_max                   -0.008578
d1_temp_max                   -0.008597
apache_3j_diagnosis           -0.009536
h1_heartrate_max              -0.010310
aids                          -0.010464
h1_albumin_min                -0.010990
h1_albumin_max                -0.011122
apache_post_operative         -0.011761
fio2_apache                   -0.012677
gcs_unable_apache             -0.012756
solid_tumor_with_metastasis   -0.013190
d1_pao2fio2ratio_max          -0.014904
d1_diasbp_noninvasive_max     -0.015147
d1_diasbp_max                 -0.016357
d1_mbp_noninvasive_min        -0.016452
heart_rate_apache             -0.016501
icu_id                        -0.016913
d1_sodium_max                 -0.017449
d1_mbp_min                    -0.017479
d1_pao2fio2ratio_min          -0.019514
Unnamed: 0                    -0.019601
h1_mbp_noninvasive_min        -0.019791
ph_apache                     -0.020751
d1_albumin_max                -0.022031
h1_mbp_invasive_max           -0.023021
d1_arterial_ph_max            -0.023384
d1_resprate_min               -0.023453
h1_mbp_min                    -0.023492
d1_albumin_min                -0.023808
d1_heartrate_max              -0.023909
albumin_apache                -0.024742
h1_arterial_ph_max            -0.029579
h1_arterial_po2_max           -0.029863
d1_arterial_po2_max           -0.030414
d1_arterial_ph_min            -0.032073
h1_pao2fio2ratio_max          -0.033157
h1_bilirubin_min              -0.034341
h1_bilirubin_max              -0.034426
h1_arterial_ph_min            -0.034520
d1_arterial_po2_min           -0.035919
h1_pao2fio2ratio_min          -0.037454
pao2_apache                   -0.038120
h1_sodium_min                 -0.038786
d1_bilirubin_min              -0.039504
d1_bilirubin_max              -0.040110
h1_sodium_max                 -0.040360
h1_diasbp_noninvasive_max     -0.040869
bilirubin_apache              -0.041216
h1_arterial_po2_min           -0.041235
sodium_apache                 -0.042209
d1_mbp_invasive_min           -0.043885
h1_diasbp_max                 -0.043969
d1_diasbp_noninvasive_min     -0.049124
d1_hco3_min                   -0.049152
d1_diasbp_min                 -0.049934
d1_sodium_min                 -0.050550
h1_hematocrit_min             -0.051475
d1_hematocrit_min             -0.053127
hematocrit_apache             -0.053475
h1_hematocrit_max             -0.053745
d1_diasbp_invasive_max        -0.055975
h1_diasbp_noninvasive_min     -0.059033
h1_diasbp_min                 -0.060896
d1_hemaglobin_min             -0.062335
h1_hemaglobin_max             -0.063734
h1_mbp_invasive_min           -0.065732
h1_hemaglobin_min             -0.065774
d1_hematocrit_max             -0.067271
d1_hemaglobin_max             -0.078801
d1_diasbp_invasive_min        -0.084994
h1_hco3_min                   -0.086548
h1_hco3_max                   -0.086883
h1_diasbp_invasive_max        -0.088664
h1_diasbp_invasive_min        -0.103672
readmission_status                  NaN
dtype: float64

In [11]:
x=df[["d1_glucose_max","glucose_apache","h1_glucose_max","h1_glucose_min","bmi","weight","d1_bun_max",
          "bun_apache","d1_bun_min","d1_glucose_min","h1_bun_min","h1_bun_max","d1_creatinine_max",
          "d1_creatinine_min","creatinine_apache","h1_creatinine_min","h1_creatinine_max"]].values
x.shape

(130157, 17)

In [12]:
y=df["diabetes_mellitus"]
y.shape

(130157,)

In [13]:
x_df=df[["d1_glucose_max","glucose_apache","h1_glucose_max","h1_glucose_min","bmi","weight","d1_bun_max",
          "bun_apache","d1_bun_min","d1_glucose_min","h1_bun_min","h1_bun_max","d1_creatinine_max",
          "d1_creatinine_min","creatinine_apache","h1_creatinine_min","h1_creatinine_max"]]

In [14]:
x_df.corr()

                   d1_glucose_max  ...  h1_creatinine_max
d1_glucose_max           1.000000  ...           0.108331
glucose_apache           0.923322  ...           0.081971
h1_glucose_max           0.874119  ...           0.071116
h1_glucose_min           0.838245  ...           0.065918
bmi                      0.099016  ...           0.063845
weight                   0.088600  ...           0.076605
d1_bun_max               0.184887  ...           0.709371
bun_apache               0.177838  ...           0.703113
d1_bun_min               0.137164  ...           0.647839
d1_glucose_min           0.383060  ...          -0.039987
h1_bun_min               0.177327  ...           0.710245
h1_bun_max               0.177887  ...           0.710661
d1_creatinine_max        0.116376  ...           0.988316
d1_creatinine_min        0.079576  ...           0.949800
creatinine_apache        0.106403  ...           0.978902
h1_creatinine_min        0.107918  ...           0.999570
h1_creatinine_max        0.108331  ...           1.000000

[17 rows x 17 columns]

In [15]:
type(x_df)

pandas.core.frame.DataFrame

In [16]:
x_df.isna().any()

d1_glucose_max       True
glucose_apache       True
h1_glucose_max       True
h1_glucose_min       True
bmi                  True
weight               True
d1_bun_max           True
bun_apache           True
d1_bun_min           True
d1_glucose_min       True
h1_bun_min           True
h1_bun_max           True
d1_creatinine_max    True
d1_creatinine_min    True
creatinine_apache    True
h1_creatinine_min    True
h1_creatinine_max    True
dtype: bool

In [17]:
x_df.describe()

       d1_glucose_max  glucose_apache  ...  h1_creatinine_min  h1_creatinine_max
count   121914.000000   115461.000000  ...       25373.000000       25373.000000
mean       174.149802      160.141416  ...           1.524339           1.526582
std         86.545466       90.701327  ...           1.570070           1.572771
min         73.000000       39.000000  ...           0.330000           0.330000
25%        117.000000       97.000000  ...           0.780000           0.780000
50%        150.000000      133.000000  ...           1.010000           1.010000
75%        200.000000      195.000000  ...           1.530000           1.540000
max        611.000000      598.700000  ...          11.571000          11.604200

[8 rows x 17 columns]

In [18]:
x_df.isna().any()

d1_glucose_max       True
glucose_apache       True
h1_glucose_max       True
h1_glucose_min       True
bmi                  True
weight               True
d1_bun_max           True
bun_apache           True
d1_bun_min           True
d1_glucose_min       True
h1_bun_min           True
h1_bun_max           True
d1_creatinine_max    True
d1_creatinine_min    True
creatinine_apache    True
h1_creatinine_min    True
h1_creatinine_max    True
dtype: bool

In [19]:
from sklearn.impute import SimpleImputer 
  
# Imputer object using the mean strategy and  
# missing_values type for imputation 
imputer = SimpleImputer(missing_values = np.nan,  
                        strategy ='mean')


print("Original Data : \n", x_df) 
# Fitting the data to the imputer object 
imputer = imputer.fit(x_df) 
  
# Imputing the data      
x_df = imputer.transform(x_df) 
  
print("Imputed Data : \n", x_df)

x_df = pd.DataFrame.from_records(x_df)
x_df.head()

Original Data :
         d1_glucose_max  glucose_apache  ...  h1_creatinine_min  h1_creatinine_max
0                168.0           168.0  ...                NaN                NaN
1                145.0           145.0  ...               0.56               0.56
2                  NaN             NaN  ...                NaN                NaN
3                185.0           185.0  ...                NaN                NaN
4                  NaN             NaN  ...                NaN                NaN
...                ...             ...  ...                ...                ...
130152             NaN             NaN  ...                NaN                NaN
130153           139.0           139.0  ...                NaN                NaN
130154           346.0           346.0  ...                NaN                NaN
130155           156.0           137.0  ...                NaN                NaN
130156           100.0             NaN  ...               1.06               1.06

[130157 rows x 17 columns]
Imputed Data :
 [[168.         168.         167.70262463 ...   2.51         1.52433882
    1.52658174]
 [145.         145.         145.         ...   0.56         0.56
    0.56      ]
 [174.14980232 160.14141572 167.70262463 ...   1.48162935   1.52433882
    1.52658174]
 ...
 [346.         346.         167.70262463 ...   2.43         1.52433882
    1.52658174]
 [156.         137.         167.70262463 ...   1.48162935   1.52433882
    1.52658174]
 [100.         160.14141572 100.         ...   1.48162935   1.06
    1.06      ]]

           0           1           2   ...        14        15        16
0  168.000000  168.000000  167.702625  ...  2.510000  1.524339  1.526582
1  145.000000  145.000000  145.000000  ...  0.560000  0.560000  0.560000
2  174.149802  160.141416  167.702625  ...  1.481629  1.524339  1.526582
3  185.000000  185.000000  167.702625  ...  1.481629  1.524339  1.526582
4  174.149802  160.141416  167.702625  ...  1.481629  1.524339  1.526582

[5 rows x 17 columns]

In [20]:
x_df.isna().any()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [21]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [22]:
model = model.fit(x_df,y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [23]:
test=pd.read_csv("UnlabeledWiDS2021.csv")

In [24]:
test.shape

(10234, 180)

In [25]:
test=test[["d1_glucose_max","glucose_apache","h1_glucose_max","h1_glucose_min","bmi","weight","d1_bun_max",
          "bun_apache","d1_bun_min","d1_glucose_min","h1_bun_min","h1_bun_max","d1_creatinine_max",
          "d1_creatinine_min","creatinine_apache","h1_creatinine_min","h1_creatinine_max"]].values
test.shape

(10234, 17)

In [26]:
from sklearn.impute import SimpleImputer 
  
# Imputer object using the mean strategy and  
# missing_values type for imputation 
imputer = SimpleImputer(missing_values = np.nan,  
                        strategy ='mean')


print("Original Data : \n", test) 
# Fitting the data to the imputer object 
imputer = imputer.fit(test) 
  
# Imputing the data      
test = imputer.transform(test) 
  
print("Imputed Data : \n", test)

test = pd.DataFrame.from_records(test)
test.head()

Original Data :
 [[104.    97.   104.   ...   1.49   1.49   1.49]
 [102.    73.      nan ...   0.92    nan    nan]
 [141.    84.    84.   ...   0.77   0.77   0.77]
 ...
 [150.      nan    nan ...    nan    nan    nan]
 [ 98.      nan    nan ...    nan    nan    nan]
 [   nan    nan    nan ...    nan    nan    nan]]
Imputed Data :
 [[104.          97.         104.         ...   1.49         1.49
    1.49      ]
 [102.          73.         167.16205938 ...   0.92         1.48981976
    1.49149801]
 [141.          84.          84.         ...   0.77         0.77
    0.77      ]
 ...
 [150.         161.39923648 167.16205938 ...   1.39752185   1.48981976
    1.49149801]
 [ 98.         161.39923648 167.16205938 ...   1.39752185   1.48981976
    1.49149801]
 [174.31725741 161.39923648 167.16205938 ...   1.39752185   1.48981976
    1.49149801]]

      0           1           2          3   ...    13        14       15        16
0  104.0   97.000000  104.000000  104.00000  ...  1.44  1.490000  1.49000  1.490000
1  102.0   73.000000  167.162059  159.06894  ...  1.00  0.920000  1.48982  1.491498
2  141.0   84.000000   84.000000   84.00000  ...  0.77  0.770000  0.77000  0.770000
3   84.0  161.399236  167.162059  159.06894  ...  1.55  1.397522  1.48982  1.491498
4  159.0   99.000000  149.000000  149.00000  ...  1.30  1.500000  1.50000  1.500000

[5 rows x 17 columns]

In [27]:
y_predict = model.predict(x_df)
print(y_predict.shape)
print(y.shape)

(130157,)
(130157,)

In [28]:
from sklearn.metrics import accuracy_score

accuracy_score(y, y_predict)

0.7896309841191791